@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    padding: 0;
    margin: 0;
}

.text-lora{
    font-family: 'Lora';
}


.border-y-address{
    border-top: solid 1px #C8AE7D;
    border-bottom: solid 1px #C8AE7D;
}

.text-poppins{
    font-family: 'Poppins';
}

.text-libre {
    font-family: 'Libre Caslon Text';
}

.text-montserrat
{
    font-family: 'Montserrat';
}

.hero{
    height: 90vh;
}


/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
  }

  .hamburger-middle {
    transform: translateY(7px);
  }

  .hamburger-bottom {
    transform: translateY(14px);
  }

  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }

  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }

  .open .hamburger-middle {
    display: none;
  }

  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
